<h1>{{title }}</h1>

<p [ngClass]="hayError ? 'error' : 'success'"> La edad del usuario es : {{ edad + 1}}</p>

<p [ngClass]="{ success: !hayError, error: hayError }">  El nombre de la app es: {{ title}}

</p>

<hr>
<h2>NgStyle</h2>
<p [ngStyle]="{ fontWeight: hayError ? 'bold' : 'normal'}"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto debitis ducimus fugiat delectus ea provident quos voluptas repellendus at non ex ipsum similique laboriosam repellat cum dolore doloribus, amet ratione? </p>

<hr>

<h2>Directivas personalizadas </h2>

<p appResaltado>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo maiores, quia quasi blanditiis animi et, totam cum magnam odio atque eius tempore neque deleniti hic architecto voluptates nam tempora consequatur.</p>

<hr>

<h2>Directivas estructurales</h2>
<ul>
  <li *ngFor="let personaje of ['Goku','Trunks', 'Vegeta','Piccolo']">
    {{personaje}}

  </li>
</ul>
<hr>
<h2>Otra forma a partir de Angular 17</h2>
<ul>
  @for(fruta of frutas; track $index){
    <li>{{frutas}}</li>
    }
</ul>
<p>esta me triplica y no se usarla </p>
<hr>
<h2>Directivas Condicionales (estructurales)</h2>

<button (click)="alternarParrafo()">Mostrar/Ocultar</button>
{{mostrarParrafo}}

<p *ngIf="mostrarParrafo">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi beatae alias doloribus quasi, vel illo et odio optio possimus quod qui id natus a rem? Perspiciatis iure eum inventore ad?</p>

  <h3>NgSwitch</h3>

  <div [ngSwitch]="estadoPago">
    <p *ngSwitchCase="'Aceptado'">Su pago ha sido aceptado</p>
    <p *ngSwitchCase="'Rechazado'">Su pago ha sido rechazado</p>
    <p *ngSwitchCase="'Pendiente'">Su pago está pendiente </p>
  </div>


